.new_subscription_controlsn {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;

}
.new_subscription_control {
    font: bold;
    margin-bottom: 0.5rem;
    display: block;

}
.new_subscription_action {
    font: inherit;
    padding:- 0.5rem;
    border-radius: 6px;
    border: 0px solid  white;
    width: 10rem;
    max-width: 100%;
    

}