.new_subscription {
    background-color: #084a8e;
    padding: 1rem;
    margin: 2rem auto;
    width:50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow:  0 1px 8px rgb(0,0,0,0.25);
    
}
.new_subscription button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #084a8e;
    background-color: 1px solid #084a8e;
    color: wheat;
    border-radius: 12px;
    margin-right: 1rem;
}
.new_subscription button:hover,
.new_subscription button:active {
    background-color: #8eb1d3;
    border-color: #8eb1d3;
}

.new_subscription button.alternative {
    color: #084a8e;
    background-color: transparent;
    background-color: transparent;
}
.new_subscription button.alternative.hover ,
.new_subscription button.alternative.active {
    background-color: #8eb1d3;
    border-color: #8eb1d3;

}

